[Unit]
Description=Influx Ingester

[Service]
ExecStart=/opt/influx/influxdb_iox run ingester --wal-directory /mnt/influx/wal
WorkingDirectory=/opt/influx/
User=influxdb
Group=influxdb
Environment="INFLUXDB_IOX_BIND_ADDR=127.0.0.1:8083"
Environment="INFLUXDB_IOX_GRPC_BIND_ADDR=127.0.0.1:8084"

[Install]
WantedBy=multi-user.target
