[Unit]
Description=Influx Querier

[Service]
ExecStart=/opt/influx/influxdb_iox run querier --ingester-addresses 127.0.0.1:8084
WorkingDirectory=/opt/influx/
User=influxdb
Group=influxdb
Environment="INFLUXDB_IOX_BIND_ADDR=127.0.0.1:8085"
Environment="INFLUXDB_IOX_GRPC_BIND_ADDR=0.0.0.0:8082"

[Install]
WantedBy=multi-user.target
